In [1]:
#code to import librays
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
#code to load data set
df_foa = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')
df_foa

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [7]:
#code to find information about data
df_foa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [8]:
df_foa.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [9]:
[i for i in range(1,4)]

[1, 2, 3]

In [17]:
df_foa.loc[df_foa['Element Code']==511]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1313,7,Angola,2501,Population,511,Total Population - Both sexes,1000 persons,26942.0,27884.0,28842.0,29817.0,30810.0
2737,53,Benin,2501,Population,511,Total Population - Both sexes,1000 persons,10287.0,10576.0,10872.0,11175.0,11485.0
4022,20,Botswana,2501,Population,511,Total Population - Both sexes,1000 persons,2089.0,2121.0,2160.0,2205.0,2254.0
5400,233,Burkina Faso,2501,Population,511,Total Population - Both sexes,1000 persons,17586.0,18111.0,18646.0,19193.0,19751.0
6809,35,Cabo Verde,2501,Population,511,Total Population - Both sexes,1000 persons,518.0,525.0,531.0,537.0,544.0
8069,32,Cameroon,2501,Population,511,Total Population - Both sexes,1000 persons,22682.0,23298.0,23927.0,24566.0,25216.0
9529,37,Central African Republic,2501,Population,511,Total Population - Both sexes,1000 persons,4464.0,4493.0,4538.0,4596.0,4666.0
10873,39,Chad,2501,Population,511,Total Population - Both sexes,1000 persons,13664.0,14111.0,14562.0,15017.0,15478.0
12261,46,Congo,2501,Population,511,Total Population - Both sexes,1000 persons,4737.0,4856.0,4981.0,5111.0,5244.0
13674,107,CÃ´te d'Ivoire,2501,Population,511,Total Population - Both sexes,1000 persons,22648.0,23226.0,23823.0,24437.0,25069.0
15141,72,Djibouti,2501,Population,511,Total Population - Both sexes,1000 persons,899.0,914.0,929.0,944.0,959.0
16236,59,Egypt,2501,Population,511,Total Population - Both sexes,1000 persons,90425.0,92443.0,94447.0,96443.0,98424.0
17724,209,Eswatini,2501,Population,511,Total Population - Both sexes,1000 persons,1095.0,1104.0,1114.0,1125.0,1136.0
19008,238,Ethiopia,2501,Population,511,Total Population - Both sexes,1000 persons,98094.0,100835.0,103603.0,106400.0,109224.0
20494,74,Gabon,2501,Population,511,Total Population - Both sexes,1000 persons,1884.0,1948.0,2008.0,2065.0,2119.0
21739,75,Gambia,2501,Population,511,Total Population - Both sexes,1000 persons,2024.0,2086.0,2149.0,2214.0,2280.0
22907,81,Ghana,2501,Population,511,Total Population - Both sexes,1000 persons,27224.0,27849.0,28482.0,29121.0,29767.0
24261,90,Guinea,2501,Population,511,Total Population - Both sexes,1000 persons,11151.0,11432.0,11738.0,12068.0,12414.0
25671,175,Guinea-Bissau,2501,Population,511,Total Population - Both sexes,1000 persons,1692.0,1737.0,1782.0,1828.0,1874.0
26799,114,Kenya,2501,Population,511,Total Population - Both sexes,1000 persons,46700.0,47878.0,49052.0,50221.0,51393.0
28359,122,Lesotho,2501,Population,511,Total Population - Both sexes,1000 persons,2043.0,2059.0,2075.0,2092.0,2108.0
29509,123,Liberia,2501,Population,511,Total Population - Both sexes,1000 persons,4360.0,4472.0,4587.0,4702.0,4819.0
30715,129,Madagascar,2501,Population,511,Total Population - Both sexes,1000 persons,23590.0,24234.0,24894.0,25571.0,26262.0
32154,130,Malawi,2501,Population,511,Total Population - Both sexes,1000 persons,16290.0,16745.0,17205.0,17670.0,18143.0
33601,133,Mali,2501,Population,511,Total Population - Both sexes,1000 persons,16934.0,17439.0,17965.0,18512.0,19078.0
34894,136,Mauritania,2501,Population,511,Total Population - Both sexes,1000 persons,3931.0,4046.0,4164.0,4283.0,4403.0
36089,137,Mauritius,2501,Population,511,Total Population - Both sexes,1000 persons,1257.0,1259.0,1262.0,1264.0,1267.0
37467,143,Morocco,2501,Population,511,Total Population - Both sexes,1000 persons,34192.0,34664.0,35126.0,35581.0,36029.0
38860,144,Mozambique,2501,Population,511,Total Population - Both sexes,1000 persons,26286.0,27042.0,27830.0,28649.0,29496.0
40287,147,Namibia,2501,Population,511,Total Population - Both sexes,1000 persons,2273.0,2315.0,2358.0,2403.0,2448.0
41570,158,Niger,2501,Population,511,Total Population - Both sexes,1000 persons,19240.0,20002.0,20789.0,21602.0,22443.0
42973,159,Nigeria,2501,Population,511,Total Population - Both sexes,1000 persons,176405.0,181137.0,185960.0,190873.0,195875.0
44447,184,Rwanda,2501,Population,511,Total Population - Both sexes,1000 persons,11084.0,11369.0,11669.0,11981.0,12302.0
45873,193,Sao Tome and Principe,2501,Population,511,Total Population - Both sexes,1000 persons,196.0,199.0,203.0,207.0,211.0
47050,195,Senegal,2501,Population,511,Total Population - Both sexes,1000 persons,14175.0,14578.0,14994.0,15419.0,15854.0
48580,197,Sierra Leone,2501,Population,511,Total Population - Both sexes,1000 persons,7017.0,7172.0,7329.0,7488.0,7650.0
49822,202,South Africa,2501,Population,511,Total Population - Both sexes,1000 persons,54544.0,55386.0,56208.0,57010.0,57793.0
51221,276,Sudan,2501,Population,511,Total Population - Both sexes,1000 persons,37978.0,38903.0,39847.0,40813.0,41802.0
52590,217,Togo,2501,Population,511,Total Population - Both sexes,1000 persons,7138.0,7323.0,7510.0,7698.0,7889.0
53884,222,Tunisia,2501,Population,511,Total Population - Both sexes,1000 persons,11063.0,11180.0,11304.0,11433.0,11565.0
55222,226,Uganda,2501,Population,511,Total Population - Both sexes,1000 persons,36912.0,38225.0,39649.0,41167.0,42729.0
56680,215,United Republic of Tanzania,2501,Population,511,Total Population - Both sexes,1000 persons,49961.0,51483.0,53049.0,54660.0,56313.0
58099,251,Zambia,2501,Population,511,Total Population - Both sexes,1000 persons,15400.0,15879.0,16363.0,16854.0,17352.0
59550,181,Zimbabwe,2501,Population,511,Total Population - Both sexes,1000 persons,13587.0,13815.0,14030.0,14237.0,14439.0

In [22]:
# code to find the sum of processing for the year 2017
df_foa.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [23]:
#code to find the total number of different countries
df_foa.Area.nunique()

49

In [24]:
# code to find the sum of stock variation for the year 2018
df_foa.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [25]:
# code to find the sum of stock variation for the year 2016
df_foa.groupby('Element')['Y2016'].sum()

Element
Domestic supply quantity                  2044842.70
Export Quantity                            151920.46
Fat supply quantity (g/capita/day)          10102.77
Feed                                       228958.65
Food                                      1247022.17
Food supply (kcal/capita/day)              451810.00
Food supply quantity (kg/capita/yr)         48985.28
Import Quantity                            286582.78
Losses                                     157787.00
Other uses (non-food)                       69563.68
Processing                                 280631.00
Production                                1943537.15
Protein supply quantity (g/capita/day)      11779.69
Residuals                                   37224.00
Seed                                        23389.20
Stock Variation                             33140.12
Total Population - Both sexes             1085107.00
Tourist consumption                            89.00
Name: Y2016, dtype: float64

In [27]:
## code to find the sum of stock variation for the year 2015
df_foa.groupby('Element')['Y2015'].sum()

Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64

In [28]:
# code to find the sum of stock variation for the year 2014
df_foa.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [110]:
#code to find the total Protein supply quantity in any country in 2015
df_foa.groupby(['Element','Area'])['Y2015'].sum()

Element                   Area
Domestic supply quantity  Algeria                  85972.86
                          Angola                   55482.91
                          Benin                    27661.67
                          Botswana                  2916.14
                          Burkina Faso             23658.17
                                                     ...
Tourist consumption       Cabo Verde                   5.00
                          Egypt                      286.00
                          Kenya                       17.00
                          Mauritius                   29.00
                          Sao Tome and Principe       12.00
Name: Y2015, Length: 803, dtype: float64

In [41]:
df_foa.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [47]:
df_foa.shape

(60943, 12)

In [52]:
df_foa.groupby('Item')['Y2018'].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

In [53]:
# code to find the total sale of wine in 2015
df_foa.groupby('Item')['Y2015'].sum()

Item
Alcohol, Non-Food        2180.00
Alcoholic Beverages     98783.72
Animal Products         11811.73
Animal fats            200675.72
Apples and products     10559.15
                         ...
Vegetables, Other      158104.08
Vegetal Products       107064.17
Wheat and products     234710.51
Wine                     4251.81
Yams                   203151.78
Name: Y2015, Length: 119, dtype: float64

In [59]:
# code to find the total number of each country
df_foa.groupby('Area')['Y2017'].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
CÃ´te d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [75]:
#code to find total number of null values 
nu=df_foa.Y2014.isnull().sum()
nu

1589

In [86]:
#code to find percentage of missing null values
df_foa.Y2014.isnull().sum()*100/len(df_foa)

2.6073544131401474